[submodule "HackerRank-Python"]
	path = HackerRank-Python
	url = https://github.com/MohammadGhanaym/HackerRank-Python.git
[submodule "Python-Leetcode"]
	path = Python-Leetcode
	url = https://github.com/MohammadGhanaym/Python-Leetcode.git
[submodule "Python-Codeforces"]
	path = Python-Codeforces
	url = https://github.com/MohammadGhanaym/Python---Codeforces.git
